
.todo{
    width: 55vw;
    background-color: white;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    overflow-x: scroll;
}
.todo-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 26%;
    overflow-x: scroll;
}

.navbar {
    display: flex;
    justify-content: center; /* Center align the buttons */
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 200;
    height: 60px;
  }
  
  .navbar-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Add space between the buttons */
  }
  
  .navbar-buttons button {
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  .todo-outer-container {
    margin-top: 80px;
    display: flex; 
    flex-direction: column;
    width: 55vw; 
    min-height: 100vh; 
    height: auto; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
    padding: 10px 10px 20px 10px; 
  }
  